name: Build

on:
  push:
    branches: [main]
  pull_request:

jobs:
  build-linux:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - uses: laytan/setup-odin@v2
        with:
          token: ${{ secrets.GITHUB_TOKEN }}

      - name: Build
        run: ./bin/build.sh linux

      - uses: actions/upload-artifact@v4
        with:
          name: game-linux
          path: target/game

  build-windows:
    runs-on: windows-latest
    steps:
      - uses: actions/checkout@v4

      - uses: laytan/setup-odin@v2
        with:
          token: ${{ secrets.GITHUB_TOKEN }}

      - name: Build
        shell: bash
        run: |
          mkdir -p target
          odin build src/platform-raylib -out=target/game.exe -debug -error-pos-style:unix

      - uses: actions/upload-artifact@v4
        with:
          name: game-windows
          path: target/game.exe
